fastapi==0.115.0
uvicorn[standard]
sqlalchemy
pydantic
openapi-spec-validator
python-multipart
google-auth
pyjwt
python-jose[cryptography]
passlib[bcrypt]
httpx
itsdangerous
fastmcp==3.0.0b1
psycopg2-binary
PyYAML>=6.0
alembic
mangum
boto3
requests
